/* Google font Raleway */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;600&display=swap');

/* Moderní box model */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans Mono', monospace;
	background: #013565 url('./img/house.jpg') center/cover no-repeat ;
}

.container {
	display: flex;
}

.header {
	flex-shrink: 0;
	width: 120px;
	position: relative;
}

.header h1 {
	margin: 0;
	font-size: 56px;
	line-height: 1;
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-90deg);
	white-space: nowrap;
	color: white;
}


.dashboard {
	flex: 1 0 auto;
	display: grid;
	grid-template-columns: 350px 350px;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		"lights climate"
		"lights climate"
		"lights blinds"
		"lights energy";
	gap: 10px;
	padding: 30px;
	background-image: linear-gradient(to top, #c4c5c7ee 0%, #dcdddfee 50%, #ebebebee 100%);
	border-radius: 4px;
}


/* tlačítka */
.button {
	flex: 0 0 50%;
	border: 0;
	outline: 0;
	padding: 10px;
	font-size: 14px;
	background-color: #dedede;
	color: #888;
	cursor: pointer;
}

.button:hover {
	background-color: #c5c5c5;
}

.button--active {
	background-color: #0099ff;
	color: white;
}

.button--active:hover {
	background-color: #0088ee;
}


/* detail */

.detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #013565 url('./img/house.jpg') center/cover no-repeat;
}

.detail-inner {
	width: 400px;
	min-height: 300px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.detail-ikona {
	text-align: center;
}

.detail-ikona img {
	width: 80px;
}

.detail-nazev {
	text-align: center;
	margin: 30px 0;
}
